.nawi_title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 135%;
    text-transform: uppercase;
    text-align: center;
    color: var(--chorniy);
    margin-bottom: 50px;
}

.tayoqcha {
    width: 100%;
    background-color: #d4d5d3;
    height: 2px;
}

.str_title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: var(--chorniy);
    margin-bottom: 10px;
}


.str_text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    margin-bottom: 30px;
    color: #53554e;
}

.str_01 {
    color: #d4d5d3;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
}

.item{
    display: flex;
    gap: 15px;
    margin-top: 30px;
}